.desktop {
  display: none;
}

//nav and hero section
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  .nav-toggle {
    .close {
      display: none;
    }
    &.active {
      .close {
        display: initial;
      }
      .hamburger {
        display: none;
      }
    }
  }
}
.primary-nav {
  display: none;

  &.active {
    --flow-spacer: 2rem;
    margin: 0;
    display: block;
    padding: 2rem;
    position: absolute;
    inset: 5rem 0 0 0;
    background: url("../images/bg-pattern-mobile-nav.svg") no-repeat bottom;
    background-color: var(--clr-neutral-300);

    .btn {
      width: 100%;
    }
  }
}

.hero {
  .container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
  padding: 0;
}
.hero-img {
  margin: 0 auto;
}
.hero-text {
  padding: 6rem 1.6rem;
  line-height: 1.65;
  background: url("../images/bg-pattern-intro-left-mobile.svg") no-repeat top
      left,
    url("../images/bg-pattern-intro-right-mobile.svg") no-repeat right 21.5rem;

  .btn {
    margin-top: 2em;
  }
}

//features section
.features {
  padding: 6rem 0;
  background: url("../images/bg-pattern-intro-right-mobile.svg") no-repeat right -10rem;
  .section-title::before {
    content: "";
    display: block;
    width: 40%;
    margin: 2.5rem auto;
    border: 1px solid var(--clr-neutral-200);
    opacity: 0.4;
  }
}
.card {
  --flow-spacer: 1.35em;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: var(--clr-neutral-200);
    line-height: 1.6;
  }
}

//cta section
.cta {
  .cta-content {
    background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
    background-position: right top;
    background-repeat: no-repeat;
    padding: 5rem 0;
  }
  .btn {
    margin-top: 2em;
  }
}

//footer section
footer {
  margin-top: 4rem;
  padding: 2.5rem;
  background: url("../images/bg-pattern-footer-mobile.svg") no-repeat center top;
  background-color: var(--clr-neutral-100);
  .footer-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
  }

  .social {
    display: flex;
    align-items: center;
    gap: 1rem;
    a:hover {
      filter: brightness(0) saturate(100%) invert(11%) sepia(15%) saturate(644%)
        hue-rotate(227deg) brightness(95%) contrast(87%);
    }
  }

  .footer-nav {
    --flow-spacer: 0.6em;
    position: relative;
    gap: 0;
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      top: 0;
      border-top: 1px solid var(--clr-neutral-200);
      opacity: 0.4;
    }
    dt {
      font-size: var(--fs-200);
      text-transform: uppercase;
      font-weight: var(--fw-700);
      opacity: 0.4;
      margin: 2rem auto;
    }
    dd {
      a {
        color: var(--clr-primary-200);
        &:hover {
          text-decoration: underline;
          color: var(--clr-primary-200);
        }
      }
    }
  }
  box-shadow: inset 10px -5px 20px rgba($color: #000000, $alpha: 0.1);

  .attribution {
    font-size: var(--fs-200);
    text-align: center;
    position: absolute;
    bottom: 0;
    a {
      color: var(--clr-primary-200);
    }
  }
}
